html {

  margin: auto;
  width: 100vw;
  border: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;

}


a {
  color: whitesmoke;
  background-color: rgb(54, 0, 104);
  border-radius: .5em;
  text-decoration: none;
  font-size: 1em;
  padding: .5em;
  font-family: 'Noto Sans TC', sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 4em 30em 1fr;
  grid-template-rows: 7em 30em 4em 1fr;
  grid-template-areas: "title title title title" ". yaxis buttons ." ". . xaxis ." "footer footer footer footer";
}

.title { grid-area: title;
 }

.footer { grid-area: footer;
margin-top: 2em; }

.xaxis { grid-area: xaxis;
margin: .2em;
color: rgb(54, 0, 104);

padding: 1em;
border-radius: .5em;
background-image: linear-gradient(to right, rgb(255, 0, 119) , yellow, rgb(170, 255, 0));


}

.yaxis { grid-area: yaxis;
margin: .2em;
color: rgb(54, 0, 104);
writing-mode: vertical-lr;
text-orientation: sideways-right;
padding: 1em;
border-radius: .5em;
background-image: linear-gradient(rgb(170, 255, 0),yellow, rgb(255, 0, 119));


 }

.buttons { grid-area: buttons;
}



.box {
  background-color: rgb(229, 255, 0);
  color: rgba(0,0,0,.4);
  border-radius: 1.5em;
  padding: .5em;
  font-size: 147%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.box:hover {
  background-color: rgb(229, 255, 0,.2);


}

.wrapper {

  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(5, 5.5em);
  grid-template-rows: repeat(5, 5.5em);
  grid-auto-flow: column;
}

  
h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 4em;
   margin: 0;
   color: rgb(54, 0, 104);
}