html {

  margin: auto;
  width: 100vw;
  border: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;

}


a {
  color: whitesmoke;
  background-color: blueviolet;
  border-radius: .5em;
  text-decoration: none;
  font-size: 1em;
  padding: .5em;
  font-family: 'Noto Sans TC', sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 4em 30em 1fr;
  grid-template-rows: 6em 30em 4em 1fr;
  grid-template-areas: "title title title title" ". yaxis buttons ." ". . xaxis ." "footer footer footer footer";
}

.title { grid-area: title;
 }

.footer { grid-area: footer;
margin-top: 2em; }

.xaxis { grid-area: xaxis;
margin: .2em;
padding: 1em;
border-radius: .5em;
color: whitesmoke;
background-image: linear-gradient(to right, red , yellow);


}

.yaxis { grid-area: yaxis;
margin: .2em;
writing-mode: vertical-lr;
text-orientation: sideways-right;
padding: 1em;
border-radius: .5em;
color: whitesmoke;
background-image: linear-gradient(rgb(157, 255, 0), rgba(255, 0, 98, 0.534));


 }

.buttons { grid-area: buttons;
}



.box {
  background-color: rgba(255,220,0,1);
  color: rgba(0,0,0,.5);
  border-radius: 1em;
  padding: .5em;
  font-size: 147%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.box:hover {
  background-color: rgba(0,0,0,.3);


}

.wrapper {

  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(5, 5.5em);
  grid-template-rows: repeat(5, 5.5em);
  grid-auto-flow: column;
}

  
h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 4em;
   margin: 0;
}