html {

  margin: auto;
  width: 100vw;
  border: 0;
  padding: 0;
  text-align: center;

}


a {
  color: whitesmoke;
  background-color: blueviolet;
  border-radius: .3em;
  text-decoration: none;
  font-size: 1em;
  padding: .5em;
  font-family: 'Noto Sans TC', sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 30em 1fr;
  grid-template-rows: 7em 30em 4em 4em;
  grid-template-areas: "title title title" "yaxis buttons bookend" ". xaxis ." "footer footer footer";
}

.title { grid-area: title; }

.yaxis { grid-area: yaxis;
  font-size: 1em;
  position: inherit;
  text-align: right; 
  padding-right: .5em;
  padding-top: .5em;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: .9;
  font-size: .8em;



}

.xaxis { grid-area: xaxis;
position: inherit;
text-align: right; 
padding-right: 1em;
font-size: 1em;
line-height: .9;
font-size: .8em;
font-family: 'Noto Sans TC', sans-serif;

}
.buttons { grid-area: buttons;
 }

.footer { grid-area: footer;
  font-family: 'Noto Sans TC', sans-serif;
}

.bookend { grid-area: bookend; }


.box {
  background-color: rgba(255,220,0,1);
  color: rgba(0,0,0,.5);
  border-radius: 1em;
  padding: .4em;
  font-size: 150%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.box:hover {
  background-color: rgba(0,0,0,.3);


}

.wrapper {


  display: grid;


  grid-gap: .5em;
  grid-template-columns: repeat(5, 5.5em);
  grid-template-rows: repeat(5, 5.5em);
  grid-auto-flow: column;
}

  
h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 4em;
   margin: 0;
}