.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "title title title title title title" "yaxis . . . . ." "yaxis . . . . ." "yaxis . . . . ." "yaxis . . . . ." "yaxis . . . . ." "zero xaxis xaxis xaxis xaxis xaxis" "footer footer footer footer footer footer";
}

.title { grid-area: title;
  margin: auto;
  font-size: 2em;
 text-align: center; }

.footer { grid-area: footer;
  margin: auto;
  font-size: 2em;
 text-align: center; }

.xaxis { grid-area: xaxis;
text-align: right;
}

.yaxis { grid-area: yaxis;
text-align: top;
  
}

.zero { grid-area: zero; }




/* Portrait */
@media screen and (orientation:portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation:landscape) {
  /* Landscape styles here */
}

