{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.request.headers.x-api-key),
    "when": $util.dynamodb.toDynamoDBJson($ctx.args.input.when),
  },
}
